* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: $font-body;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $spacing-sm;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }

p {
  margin-bottom: $spacing-sm;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $primary-color;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.button {
  display: inline-block;
  padding: $spacing-sm $spacing-md;
  background-color: $text-color;
  color: $background-color;
  border: 2px solid $text-color;
  font-family: $font-body;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: transparent;
    color: $text-color;
  }

  &.primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $text-color;

    &:hover {
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: $spacing-md;
}
